/* hrk-toggle
   Copyright 2019 Hugh Kern -- hkern0.com
   MIT license -- https://opensource.org/licenses/MIT */

/* responsive navbar */
.hrk-toggle {
    display: none;
}
.hrk-navbar-toggle:checked ~ .hrk-navbar-responsive {
    display: flex;
    background: inherit;
    z-index: 10;
    border-radius: 0 0 .5rem 0;
    border: thin solid;
}
.hrk-navbar-toggle + label:before {
    display: block !important;
}
.hrk-navbar-perm, .hrk-navbar-toggle-label {
    flex: 1 0;
}
.hrk-navbar-toggle + label {
    display: inline;
    cursor: pointer;
    font-size: 1.5rem;
    width: 1rem;
    margin-left: 1rem;
}
.hrk-navbar-responsive {
    display: none;
    order: 5;
    flex: 1 100%;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    background: inherit;
}
.hrk-navbar-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}

/* toggle */
.hrk-tree-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    z-index: 10;
}
.hrk-toggle-label {
    display: inline;
    cursor: pointer;
    font-size: 1.2rem;
    width: 0.8rem;
    align-self: flex-start;
    margin: 0.1rem;
    text-align: center;
}
.hrk-tree-node, .hrk-tree-leaf {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    align-self: flex-start;
    margin: .4rem .2rem .2rem 0rem;
}
.hrk-tree-leaf {
    margin-left: 1rem;
}
.hrk-tree-children {
    display: none;
    order: 5;
    flex: 1 100%;
    position: relative;
    margin: .3rem 1rem 0rem 0.5rem;
    padding: .5rem;
    background: rgba(230,230,230,.9);
    border-radius: .2rem 1rem .2rem 1rem;
}
.hrk-toggle:checked ~ .hrk-tree-node > .hrk-tree-children {
    display: flex;
    flex-direction: column;
}
/* default opener / closer is just text +/- */
.hrk-toggle + label:before {
    content: '+';
}
.hrk-toggle:checked + label:before {
    content: '-';
}
/* hamburger */
.hrk-toggle + label.hrk-toggle-fmt-divburger:before {
    content: '';
}
.hrk-toggle:checked + label.hrk-toggle-fmt-divburger:before {
    content: '';
}

.hrk-toggle + label.hrk-toggle-fmt-divburger > div.menumenu {
    font-size: x-small;
    font-weight: 900;
    margin-left: .4rem;
    color: black;
}
.hrk-toggle-fmt-divburger > div.menubar {
    width: 1.7rem;
    height: 0.25rem;
    background-color: black;
    border-radius: 4px;
    /*position: absolute;*/
}
.hrk-toggle-fmt-divburger > div.menubar:nth-child(1) {
    margin: 0.4rem 0.4rem 0.1rem 0.4rem;
}
.hrk-toggle-fmt-divburger > div.menubar:nth-child(3) {
    margin: 0.1rem 0.4rem 0.4rem 0.4rem;
}


.hrk-toggle:checked + label.hrk-toggle-fmt-divburger > div:nth-child(1) {
    transform: translateY(.12rem) rotate(45deg);
    transition: rotate .5s ease-in-out;
}
.hrk-toggle:checked + label.hrk-toggle-fmt-divburger > div.menumenu {
    display: none;
}
.hrk-toggle:checked + label.hrk-toggle-fmt-divburger > div:nth-child(3) {
    transform: translateY(-.2rem) rotate(-45deg);
}

/* toggle option: text-based carets */
.hrk-toggle + label.hrk-toggle-fmt-x:before {
    content: "x";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-x:before {
    content: "x";
}
/* toggle option: Font Awesome caret concept
.hrk-toggle + label.hrk-toggle-fmt-facaret:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-facaret:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
} */
/* toggle option: Font Awesome plus/minus +/- concept
.hrk-toggle + label.hrk-toggle-fmt-faplusminus {
    font-size: .8rem;
    margin-top: .5rem;
}
.hrk-toggle + label.hrk-toggle-fmt-faplusminus:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-faplusminus:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
} */
/* toggle option: Font Awesome burger/X concept
.hrk-toggle + label.hrk-toggle-fmt-faburgermenu:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-faburgermenu:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
} */
/* toggle option: Font Awesome vertical-ellipsis/X concept
.hrk-toggle + label.hrk-toggle-fmt-faextramenu:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f142";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-faextramenu:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
}
*/

.hrk-toggle-close-menu {
    position: absolute;
    right: -1rem;
    z-index: 10;
}

/* media query goes responsive */
@media screen and (min-width: 80rem) { /* 960px */
    .hrk-navbar-container {
        flex-flow: row;
        padding-bottom: 0;
    }
    .hrk-navbar-responsive {
        display: flex;
        flex-basis: auto;
        order: 4;
        flex-direction: row;
        position: static;
        border: none !important;
    }
    .hrk-navbar-responsive > .hrk-tree-container:hover > .hrk-tree-node > .hrk-tree-children {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hrk-navbar-toggle-label {
        display: none !important;
    }
    .hrk-tree-children {
        position: absolute;
        top: 1.2rem; /* gets rid of gap when hovering */
        width: 12rem;
    }
    .hrk-tree-children .hrk-tree-children {
        position: relative;
        flex: 1 100%;
        top: -.3rem;
    }
    .hrk-tree-children .hrk-tree-container {
        width: 15rem;
    }
    .hrk-navbar-responsive > .hrk-tree-leaf {
        margin-left: 0;
    }
    .hrk-tree-node, .hrk-tree-leaf {
        max-width: 90%;
    }
}