/* hrk-toggle
   Copyright 2019 Hugh Kern -- hkern0.com
   MIT license -- https://opensource.org/licenses/MIT */

/* generic helper classes */
.hrk-float-left {
    float: left;
}
.hrk-float-right {
    float: right;
}
.hrk-display-inlineblock {
    display: inline-block;
}
.hrk-flex-row { /* define horizontal flex */
    display: flex;
    flex-direction: row;
}
.hrk-margin-none {
    margin: 0;
}
.hrk-margin-medium {
    margin: 1rem;
}

/* responsive navbar */
.hrk-bar {
    display: flex;
    flex-flow: row wrap;
    z-index: 2000;
}
.hrk-bar::after {
    clear: none;
}
.hrk-navbar { /* the whole navbar w. responsive and non-responsive parts */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    background: rgba(250,250,250,.98)
}
.hrk-toggle { /* the input checkbox or radio that a submenu is attached to. navbar toggle also gets hrk-bar-toggle class */
    display: none;
}
.hrk-menu { /* responsive menu disappears as standard and goes vertical for mobile first */
    display: none;
    order: 5;
    flex: 1 100%;
    flex-direction: column;
    background: inherit;
    z-index: 900;
    padding-bottom: .5rem;
    border-radius: 0 .5rem .5rem .5rem;
}
.hrk-toggle + label {
    display: inline;
    cursor: pointer;
    width: 0.8rem;
    align-self: flex-start;
    padding: .5rem 0.1rem;
    text-align: center;
    font-size: small;
    color: #999;
}
.hrk-bar-toggle:checked ~ .hrk-menu {  /* the responsive menu is labeled with class hrk-menu */
    display: flex;
    background: inherit;
    z-index: 10;
    border: thin solid;
}
.hrk-bar-toggle + label:before { /* make sure the navbar toggle and label are a block */
    display: block !important;
}
.hrk-bar-perm, .hrk-bar-toggle + label { /* nonresponsive parts of the menu are just flex */
    flex: 1 0;
}
.hrk-bar-last { /* move a navbar item to the end of the lst */
    order: 100;
}
.hrk-bar-toggle + label { /* give the navbar hamburger some size and margins and make the cursor point into */
    display: inline;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    width: unset;
}
.hrk-bar > .hrk-toggle-label {
    margin-left: -2rem;
}
.hrk-navbar > .hrk-menu {
    position: absolute;
    top: 3rem;
}
.hrk-menu > .hrk-tree,
.hrk-menu > .hrk-leaf {
    margin-right: 1rem;
}
.hrk-bar-perm > .uk-dropdown ul {
    list-style: none;
}
.hrk-bar-perm > .uk-dropdown {
    margin-right: 1rem;
    margin-top: -.5rem;
}
.hrk-menu-active {
    border-radius: 0 .5rem .5rem .5rem;
}
.hrk-bar-extramenu > a, .hrk-bar-extramenu > span.hrk-a,
.hrk-bar-item a, .hrk-bar-item span.hrk-a,
.hrk-bar-perm > a, .hrk-bar-perm > span.hrk-a { /* all navbar top bar links get look and feel */
    padding: 1rem;
    width: auto;
}
.hrk-navbar > .hrk-bar-item, .hrk-navbar > .hrk-bar-perm {
    height: 3rem;
}
.hrk-menu > .hrk-tree > .hrk-tree-node > a, .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a,
.hrk-menu .hrk-leaf > * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    width: 15rem;
}
.hrk-bar-perm > a:hover, /* top-level items get hover highlighting */
.hrk-bar-item a:hover,
.hrk-menu > .hrk-leaf:hover,
.hrk-bar-toggle + label:hover,
.hrk-menu > .hrk-tree > .hrk-tree-node > a:hover {
    background: rgba(50, 50, 50, .4);
    border-radius: 0 .5rem .5rem .5rem;
}
.hrk-tree-node .hrk-tree-children a,
.hrk-tree-node .hrk-tree-children span.hrk-a { /* all navbar lower bar links get look and feel */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 14rem;
    padding: .5rem;
}
.hrk-tree-node .hrk-tree-children a:hover, span.hrk-a:hover {
    background: rgba(100,100,100,.1);
    border-radius: 0 .5rem .5rem .5rem;
}
.hrk-tree-node > .hrk-tree-children {
    margin-left: -1rem;
    padding-left: .5rem;
}

/* toggle */
.hrk-tree {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    z-index: 10;
}
.hrk-navbar > .hrk-menu > .hrk-tree > .hrk-tree-node > a,
.hrk-navbar > .hrk-menu > .hrk-tree > .hrk-tree-node > span,
.hrk-navbar > .hrk-menu > .hrk-tree > label,
.hrk-navbar > .hrk-menu > .hrk-leaf > * {
    padding-top: 1rem;
}
.hrk-tree-node, .hrk-leaf {
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    align-self: flex-start;
}
.hrk-tree-children > .hrk-leaf {
    margin-left: 1rem;
    width: 15rem;
}
.hrk-menu > .hrk-leaf {
    margin-left: 1rem;
    margin-right: .5rem;
}
.hrk-tree-children {
    display: none;
    order: 5;
    flex: 1 100%;
    position: relative;
    background: rgba(245,245,245,.98);
    border: .1rem solid #eee;
}
.hrk-menu > .hrk-tree > .hrk-tree-node > .hrk-tree-children,
.hrk-bar-perm > .uk-dropdown {
    border-radius: 0 .5rem .5rem .5rem;
}
.hrk-toggle:checked ~ .hrk-tree-node > .hrk-tree-children {
    display: flex;
    flex-direction: column;
}
.hrk-toggle-close-menu {
    position: absolute;
    right: -1rem;
    z-index: 10;
}
.hrk-toggle-close-menu > label {
    width: 1rem;
}

.hrk-toggle-close-menu > .hrk-toggle + .hrk-toggle-fmt-x:before {
    content: 'x';
}
.hrk-toggle-close-menu > .hrk-toggle:checked + .hrk-toggle-fmt-x {
    display: inline-block;
}
/* default opener / closer is just text +/- */
.hrk-toggle + label.hrk-toggle-fmt-caret:before {
    content: '►';
}
.hrk-toggle:checked + label.hrk-toggle-fmt-caret:before {
    content: '▼';
}
/* default opener / closer is just text +/- */
.hrk-toggle + label.hrk-toggle-fmt-plusminus:before {
    content: '+';
}
.hrk-toggle:checked + label.hrk-toggle-fmt-plusminus:before {
    content: '-';
}
/* toggle option: put svg icons, text or anything else into on/off spans */
.hrk-toggle:checked + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-on {
    display: none;
}
.hrk-toggle + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-off {
    display: none;
}
/* toggle option: text-based carets */
.hrk-toggle:checked + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-off {
    display: initial;
}

.hrk-toggle + label.hrk-toggle-fmt-ellipsis:before {
    font-weight: 900;
    content: "...";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-ellipsis:before {
    font-weight: 900;
    content: "X";
}
.hrk-toggle-fmt-paginav {
    margin-right: 0;
}
.hrk-toggle + label.hrk-toggle-fmt-paginav:before {
    font-weight: 900;
    content: "◃|▹";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-paginav:before {
    font-weight: 900;
    content: "X"; /* ▵ */
}


/* media query goes responsive */
@media screen and (min-width: 80rem) {
    /* 960px */
    .hrk-bar-extramenu > a,
    .hrk-bar-extramenu > span.hrk-a,
    .hrk-bar-item a,
    .hrk-bar-item span.hrk-a,
    .hrk-menu > .hrk-tree > .hrk-tree-node > a,
    .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a,
    .hrk-menu .hrk-leaf > * { /* all navbar top bar links get look and feel */
        width: auto;
    }
    .hrk-navbar {
        flex-flow: row;
        padding-bottom: 0;
    }
    .hrk-menu {
        display: flex;
        flex-basis: auto;
        order: 4;
        flex-direction: row;
        position: static;
        border: none !important;
        padding-bottom: 0;
        border-radius: 0;
        width: auto;
    }
    .hrk-navbar > .hrk-menu {
        position: static;
    }
    .hrk-menu > .hrk-tree:hover > .hrk-tree-node > .hrk-tree-children {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hrk-bar-toggle + label {
        display: none !important;
    }
    .hrk-tree-children {
        position: absolute;
        width: 16rem;
        border-radius: 0 .5rem .5rem .5rem;
    }
    .hrk-tree-children .hrk-tree-children {
        position: relative;
        flex: 1 100%;
        top: 0;
    }
    .hrk-tree-node, .hrk-leaf,
    .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a { /* top-level inactive item */
        width: auto;
    }
    .hrk-tree-children .hrk-tree-node /*, .hrk-leaf*/ {
        width: 13rem;
    }
    .hrk-bar-extramenu {
        order: 5;
    }
    .hrk-menu > *:first-child {
        margin-left: 0;
    }
    .hrk-menu > *:last-child {
        margin-right: 0;
    }
}
